<div class="text-center">
    <h1>Thanks!</h1>

    <h3>We'll let you know as soon as we have a translation for "<%= @name_interest.entered_name %>".</h3>

    <h3>In the mean time, maybe <%= link_to 'try another name', lookups_path %>?</h3>
</div>
