<div class="text-center lookup-form">
    <h1>Get your name in Japanese Kanji!</h1>

    <p class="lead">You put in your name, you get your name in Japanese kanji.</p>

    <%= form_for Lookup.new, html: { class: 'form-inline' } do |f| %>
      <div class="form-group">
          <%= f.label :name, 'Your name', class: 'hidden' %>
          <%= f.text_field :name, class: 'form-control' %>
      </div>
      <%= f.submit 'Create', class: 'btn btn-info' %>
    <% end %>
</div>
